.ready-to-give {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.19px;
  line-height: 2.81rem;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.depth-8-frame-011,
.depth-9-frame-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.sign-up-today {
  width: 28.63rem;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  max-width: 100%;
}
.depth-8-frame-1,
.depth-9-frame-02 {
  align-self: stretch;
  align-items: center;
}
.depth-9-frame-02 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-8-frame-1 {
  min-height: 3rem;
  font-size: var(--font-size-base);
}
.depth-6-frame-012,
.depth-7-frame-09,
.depth-8-frame-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-7-frame-09 {
  width: 32.81rem;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.depth-6-frame-012 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.depth-7-frame-010 {
  width: 10.88rem;
  flex: 1;
}
.depth-5-frame-06,
.depth-6-frame-13 {
  align-self: stretch;
  flex-direction: column;
  box-sizing: border-box;
}
.depth-6-frame-13 {
  height: 3.06rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}
.depth-5-frame-06 {
  padding: var(--padding-61xl) var(--padding-21xl);
  gap: var(--gap-13xl);
}
.accountant-business-partner-fr,
.depth-4-frame-3,
.depth-5-frame-06 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-4-frame-3 {
  flex: 1;
  flex-direction: column;
}
.accountant-business-partner-fr {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-20xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .ready-to-give {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 750px) {
  .depth-5-frame-06 {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .ready-to-give {
    font-size: var(--font-size-3xl);
    line-height: 1.69rem;
  }
}
