.depth-6-frame-010 {
  width: 26.54rem;
  position: relative;
  border-radius: var(--br-xs);
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 17.5rem;
  max-width: 100%;
}
.run-your-business {
  margin: 0;
  width: 27.44rem;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.58px;
  line-height: 3.75rem;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.depth-10-frame-0,
.depth-9-frame-0 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-9-frame-0 {
  min-height: 7.5rem;
}
.headtler-is-a {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
}
.depth-10-frame-01,
.depth-9-frame-1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-1 {
  min-height: 4.5rem;
  font-size: var(--font-size-base);
}
.depth-8-frame-06 {
  gap: var(--gap-5xs);
}
.depth-7-frame-06,
.depth-8-frame-06 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-8-frame-07 {
  align-self: stretch;
  width: 10.88rem;
}
.depth-7-frame-13 {
  align-self: stretch;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
  min-width: 19.13rem;
  max-width: 100%;
}
.depth-4-frame-02,
.depth-5-frame-05 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-5-frame-05 {
  flex-direction: row;
  padding: var(--padding-21xl) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.depth-4-frame-02 {
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .depth-6-frame-010 {
    flex: 1;
  }
  .run-your-business {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }
  .depth-8-frame-06 {
    align-self: stretch;
    width: auto;
  }
  .depth-5-frame-05 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .depth-5-frame-05,
  .depth-6-frame-2 {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .run-your-business {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .depth-5-frame-05 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
