.depth-9-frame-03 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.depth-8-frame-012 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.access-from-any {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
  font-weight: 500;
}
.depth-9-frame-04 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.use-headtler-on {
  align-self: stretch;
  position: relative;
  line-height: 1.31rem;
}
.depth-9-frame-11 {
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
}
.depth-7-frame-011,
.depth-8-frame-11,
.depth-9-frame-11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-8-frame-11 {
  padding: 0 0 var(--padding-xs);
}
.depth-7-frame-011 {
  width: 18.83rem;
  flex-shrink: 0;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
