.powerful-features-to {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.19px;
  line-height: 2.81rem;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.depth-8-frame-013,
.depth-9-frame-05 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.headtler-offers-a {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
}
.depth-9-frame-06 {
  align-self: stretch;
}
.depth-7-frame-012,
.depth-8-frame-12,
.depth-9-frame-06 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-8-frame-12 {
  align-self: stretch;
  min-height: 4.5rem;
  font-size: var(--font-size-base);
}
.depth-7-frame-012 {
  width: 45rem;
  gap: var(--gap-base);
  max-width: 100%;
}
.depth-6-frame-013 {
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
}
.depth-6-frame-013,
.depth-6-frame-14,
.help-center-community-develope {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-6-frame-14 {
  width: 58rem;
  height: 18.94rem;
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
}
.help-center-community-develope {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-base) var(--padding-82xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .powerful-features-to {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 750px) {
  .help-center-community-develope {
    gap: var(--gap-21xl);
    padding-bottom: var(--padding-47xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .powerful-features-to {
    font-size: var(--font-size-3xl);
    line-height: 1.69rem;
  }
}
